
a{
text-decoration: none;
}
.image-container {
       position: relative;
       width: 300px;
       
   }

   .image {
       width: 100%;
       height: auto;
   }

   .overlay-text {
       position: absolute;
       top: 80%;
       left: 50%;
       transform: translate(-50%, -70%);
       color: dark;
       font-size: 16px;
       display: none; 
   }

   .image-container:hover .overlay-text {
       display: block;
       background-color: rgba(0, 0, 0, 0); 
       padding: 10px;
       border-radius: 5px;
   }
   .large-spacing {
margin-top: 100px;
margin-bottom: 100px;
}


